<template name="home">
    <header>
        <div id = "btnServ" class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To MOCI!</div>
                {{#if currentUser}}
                    <div class="intro-heading">It's Nice To Meet You</div>
                    <a style='font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;' type="button" class="btn btn-info btn-lg">Add My Story</a>
                {{else}}
                    <div class="intro-heading">Speak your mind
                    .</div>
                    <a style='font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;' type="button" class="btn btn-info btn-lg" data-toggle="collapse">Use after logging in.</a>
                {{/if}}
            </div>
        </div>
    </header>
</template>
