<template name="press">
    {{#if currentUser}}
    <header>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 id="margin">My Info</h1>
                <p>내가 작성한 카드와 나의 정보</p>

            </div>
        </div>
    </header>

    <div class="container">
        <h3>기본 정보</h3>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle" src="/img/users.png" alt="사용자사진">
            </div>
            <div class="col-sm-8">
                <p><strong>Name</strong> : {{FIRSTNAME}}{{LASTNAME}}</p>
                <p><strong>Email</strong> : {{USEREMAIL}}</p>
            </div>
        </div>
    </div>
    <div class="container" >
        <h3>내가 작성한 이야기</h3>
        <div style="overflow:scroll; height: 500px">
            <ul style="list-style: none;">
                {{#each Mystorys}}
                    {{> MYstories}}
                {{/each}}
            </ul>
        </div>
    </div>
    {{else}}
    <header>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 id="margin">WARNING</h1>
                <div class="alert alert-danger">
                    <strong>Warning!</strong> 로그인이 필요합니다.
                </div>
            </div>
        </div>
    </header>
    {{/if}}
</template>

<template name="MYstories">
    <div id="image">
        <li style="float: left; width:auto; height:auto;"  valign="middle" align="center">
            <img class="img-rounded img-responsive" src="{{url}}" alt="배경사진" style="width: 350px; height: 250px;">
            <p id="text" style="width:100%;height:100;border:1; margin-bottom: 3px; color:#ffffff; font-weight:700; font-size:24px; font-family:맑은 고딕; letter-spacing:-3px; line-height:1.6; background:#df5002; opacity:0.6;">{{values}}</p>
        </li>
    </div>
</template>