<template name="press">
    {{#if currentUser}}
    <header>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 id="margin">My Info</h1>
                <p>내가 작성한 카드와 나의 정보</p>

            </div>
        </div>
    </header>
    {{else}}
    <header>
        <div class="container">
            <div class="jumbotron text-center">
                <h1 id="margin">WARNING</h1>
                <div class="alert alert-danger">
                    <strong>Warning!</strong> 로그인이 필요합니다.
                </div>
            </div>
        </div>
    </header>
    {{/if}}


</template>